# Dependencies and build
node_modules/
dist/
package-lock.json

# Environment and local configurations
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE & Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
